.catalog_container {
  display: flex;
  gap: 25px;
}

.filter {
  width: 300px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: #ffffff;
}

.filter_header_container {
  display: flex;
  justify-content: space-between;
}

.filter_header {
  font-size: 20px;
}

.filter_clear_btn {
  border: none;
  background: inherit;
}

.filter_form {
  display: flex;
  flex-direction: column;
}

.filter_input_container {
  height: 22px;
  position: relative;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
}

.filter_input {
  position: absolute;
  inset: 0;
  z-index: 1;
  padding-right: 35px;
}

.filter_input_price {
  width: 45%;
}

.filter_icon,
.filter_arrow_btn,
.action_icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.filter_arrow {
  transition: color 0.2s ease;
}

.filter_btn {
  width: 100% !important;
}

.catalog_cards {
  padding-left: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.card {
  min-width: 300px;
  min-height: 300px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 8px;
}

.card_img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  display: block;
}

.card_year_group {
  display: flex;
  justify-content: space-between;
}

.card_text {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.card_year {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card_name {
  display: flex;
  gap: 5px;
  font-size: 17px;
  font-weight: 900;
}

.card_price {
  font-size: 25px;
  color: #e02220;
}